.contact-wrapper {
  padding: 70px;
  padding-top: 20px;
  border: 1px solid rgba(48, 146, 85, 0.2);
  border-radius: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px),
  only screen and (max-width: 767px) {
  .contact-wrapper {
    padding: 40px;
    padding-top: 0;
  }
}
@media only screen and (max-width: 575px) {
  .contact-wrapper {
    padding: 30px;
    padding-top: 0;
  }
}

.single-form {
  margin-top: 20px;
}
.single-form input:not([type="checkbox"]):not([type="radio"]),
.single-form textarea {
  width: 100%;
  height: 60px;
  padding: 0 25px;
  font-size: 15px;
  color: #52565b;
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(48, 146, 85, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.single-form
  input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder,
.single-form textarea::-webkit-input-placeholder {
  opacity: 1;
}
.single-form input:not([type="checkbox"]):not([type="radio"]):-moz-placeholder,
.single-form textarea:-moz-placeholder {
  opacity: 1;
}
.single-form input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder,
.single-form textarea::-moz-placeholder {
  opacity: 1;
}
.single-form
  input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder,
.single-form textarea:-ms-input-placeholder {
  opacity: 1;
}
.single-form input:not([type="checkbox"]):not([type="radio"]) + input,
.single-form textarea + input {
  margin-top: 15px;
}
.single-form input:not([type="checkbox"]):not([type="radio"]):focus,
.single-form textarea:focus {
  border-color: #309255;
  outline: none;
}
.single-form label {
  font-size: 15px;
  color: #212832;
  margin-bottom: 12px;
}
.single-form input[type="checkbox"] {
  display: none;
}
.single-form input[type="checkbox"] + label {
  padding-left: 22px;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 15px;
}
.single-form input[type="checkbox"] + label span {
  width: 14px;
  height: 14px;
  border: 1px solid #e1e1e1;
  position: absolute;
  display: block;
  top: 4px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.single-form input[type="checkbox"] + label span::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "\f107";
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  color: #fff;
  text-align: center;
}
.single-form textarea {
  padding-top: 15px;
  height: 160px;
  resize: none;
}
