.content_wrapper {
  position: relative !important;
}

.sidebar_wrapper {
  background-color: #309255;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9;
}

.body_wrapper {
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 80px;
  position: relative;
}

.sidebar_list {
  padding: 40px 22px;
  gap: 10px;
  display: grid;
}

.sidebar_active {
  width: 55px;
  height: 55px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
  font-size: 15px;
}

.sidebar_active:hover {
  background-color: #3c9d60;
  border-color: #3c9d60;

  &::before {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar_active::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 25px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 50%;
  left: -24px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.body_container {
  padding: 0 15px;
}

.body_message {
  display: flex;
  align-items: flex-start;
  background-color: #e7f8ee;
  border-radius: 10px;
  padding: 26px 40px;
}

.message_icon {
  margin-top: 3px;
}

.message_content {
  padding-left: 40px;
  flex: 1;
}

.course_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 15px;

  &_title {
    font-size: 32px;
    font-weight: 500;
    color: #212832;
    padding-top: 20px;
  }

  &_btn {
    padding-top: 20px;
  }
}

.create_btn {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  padding: 0 30px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #309255;
  color: #309255;
  width: 150px;
  background-color: #eefbf3;
}

.course_list_wrapper {
  margin-top: 30px;
  padding: 0 15px;
}

.course_item {
  border: 1px solid rgba(48, 146, 85, 0.2);
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  display: flex;
  // align-items: center;

  & img {
    width: 130px;
    border-radius: 10px;
  }

  &_title {
    padding-left: 30px;

    & h2 {
      font-size: 20px;
      font-weight: 500;
      color: #212832;
      margin-top: 18px;
      display: block;
      line-height: 1.5;
    }
  }
}

.course_tracker {
  margin-left: -7px;
  margin-right: -7px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  // flex: 1;
  &_1 {
    background-color: #e5ecff;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 7px 0;
  }

  &_2 {
    background-color: #def2e6;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    margin: 15px 7px 0;
  }

  &_3 {
    background-color: #ffe8df;
    width: 150px;
    padding: 15px; 
    border-radius: 10px; 
    margin: 15px 7px 0;
  }

  &_count{
    font-size: 18px;
    font-weight: 700;
    margin-top: 3px;
    // display: block;
    display: flex;
    
  }
}
